<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../styles/cadastro.css">
  <title>Cadastro</title>
</head>

<body>
  <main class="container">
    <aside class="container-side">
      <div class="onclass-logo-name">
        <img src="/src/assets/logo.png" alt="onClass">
        <h1>OnClass</h1>
      </div>
    </aside>

    <div class="bnt-voltar">
      <a href="../../index.html">Voltar</a>
    </div>
    
    <section class="container-form">
      <h2>Realize seu cadastro</h2>
      <form id="form-cadastro">
        <input id="nomeCompleto" type="text" placeholder="Nome Completo" required autocomplete="name">
        <input id="email" type="email" placeholder="Email" required autocomplete="email">
        <input id="password" type="password" placeholder="Senha" required autocomplete="new-password">
        <button type="submit" class="btn-submit">Finalizar Cadastro</button>
      </form>
      
      <div class="ja-possui-conta">
        <p>Já possui uma conta?</p>
        <a class="btn-sign" href="./login.html">Realizar Login</a>
      </div>
    </section>
  </main>

  <script type="module" src="./cadastro.js"></script>
</body>
</html>