<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="#">
    <title>Início</title>
</head>
<body>
    <main class="container">
        <header>
            <h1>Ola! Bom te ver aqui hoje!</h1>
            <img src="../views/assets/logo.png" alt="onClass">
        </header>

        <section class="class-usuario">
            <h3>Qual tipo de perfil você deseja acessar?</h3>
            
            <div class="bnt-perfil">
                <button class="bnt-aluno">Aluno</button>
                <button class="bnt-professor">Professor</button>
            </div>

        </section>
        <section class="class-login-cadastro">
            <h3>Você deseja...</h3>
            <a class="bnt-login" href="../views/html/login.html">Fazer Login</a>
            <a class="bnt-cadastro" href="../views/html/cadastro.html">Realizar Cadastro</a>
        </section>

    </main>

    <script type="module" src="#"></script>
</body>
</html>