<!-- nao implementado -->
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OnClass - Perfil do Professor</title>
    <link rel="stylesheet" href="../styles/atividadesSala.css">
    <link rel="stylesheet" href="../styles/header.css">

</head>
<body>
    <div id="header"></div>

    <!-- Conteúdo Principal -->
    <div class="main">
        <!-- Sidebar -->
        <div class="sidebar">
            <p><strong>Disciplina:</strong> Língua Portuguesa</p>
            <p><strong>Professor(a):</strong> Rebeca Soares</p>
            <button>Turma: 1 ano C</button>
            <button>Editar sala</button>
            <button>Conteúdos</button>
            <a href="atividade.html"><button>Atividades</button></a> 
        </div>
        
        <!-- Área de Atividades -->
        <div class="content">
            <!-- Atividade 1 -->
            <div class="activity">
                <div class="teste">
                    <div class="info">
                        <h4>Trabalho Prático</h4>
                        <div class="pdata">
                            <p>Postado em 12/12/2024 - 13:10</p>
                        </div>
                        <div class="btn-atividade">
                            <a>Ver atividade</a>
                        </div>
                    </div>
                </div>
                <div class="teste-2">
                    <div class="actions">
                        <p>Data de Entrega: 14/12/2024</p>
                        <div class="anexos-btn">
                            <button>Anexos</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Outras atividades... -->
        </div>
    </div>
    <script src="js/header.js"></script>
    <script type="module" src="../sign/logout.js"></script>
</body>
</html>
