<!-- nao implementado -->
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style-atividades-entregues.css">
    <link rel="stylesheet" href="../styles/header.css">
    <title>Atividade</title>
</head>
<body>
    <div id="header"></div>
    
    <div class="conteudo-total">
        <div class="informacoes-adicionais">
            <div class="detalhes">
                <p>Disciplina: nome-disciplina</p>
                <p>Professor(a): nome-do-professor</p>
                <div class="butoes-detalhes">
                    <button>Turma: nome-turma</button>
                    <button>Editar Sala</button>
                </div>
                
            </div>

            <div class="detalhes-botoes">
                <div class="botao-conteudo">
                    <img src="../../assets/conteudos-container.png" alt="explorer">
                    <span>Conteúdos</span>
                </div>
                <div class="botao-conteudo">
                    <img src="../../assets/atividade-container.png" alt="note">
                    <span>Atividades</span>
                </div>
            </div>
        </div>
        
        <div class="atividade-entregues">
            <div class="titulo">
                <h2>Titulo da Atividade</h2>
                <p>10:54 - 12/12/2024</p>
            </div>

            <div>
                <p>Descrição da Atividade. A atividade deve ser feita em dupla e entregue na data prevista</p>
            </div>
            
            <div class="data-entrega">
                <h3>Data de entrega 13/01/2025 - 10:00</h2>
            </div>

            <div class="content-atividades-entregues">
                <div>
                    <h2>Atividades entregues</h2>
                </div>
                <div class="atividade-aluno">
                    <div class="atividade-aluno-img">
                        <img src="../../assets/user.png" alt="perfil-aluno">
                    </div>
                    <div class="conteudo-atividade-aluno">
                        <p>Nome do aluno</p>
                        <p>Em 14/12/2024</p>
                        <p>Status: Fora do prazo</p>
                    </div>
                </div>
            </div>
        </div>    
    </div>
    <script src="js/header.js"></script>
    <script type="module" src="../sign/logout.js"></script>
</body>
</html>