<header class="navbar">
    <div class="navbar-logo">
      <img src="../../assets/logo.png" alt="OnClass">
      <span>Perfil do Professor</span>
    </div>

    <div class="navbar-user">
      <div class="user-info">
        <span id="nome-do-professor">nome-do-professor</span>
      </div>
      <button class="btn-sair">Sair</button>
    </div>

    <nav class="navbar-links">
      <a href="./turma.html" class="active">Turmas</a>
      <a href="./minhasAtividades.html">Minhas Atividades</a>
    </nav>
</header>