<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Perfil do Professor - Minhas Atividades</title>
  <link rel="stylesheet" href="#">
</head>

<body>
  <div id="header"></div>

  <main class="container">
    <section class="sem-atividades">
        <img src="../../assets/sem atividades.png" alt="Sem atividades registradas">
        <h3>Ainda não há atividades registradas...</h3>
    </section>

    <section class="atividades">
        <div class="pesquisar">
            <input type="text" id="pesquisar-atividade" placeholder="Pesquisar Atividade">
            <button id="btn-pesquisar"><i>
              <img src="../../assets/pesquidsr.png" alt="pesquisar">
            </i></button>
        </div>
        
        <section class="atividades-container" id="atividades-container">
            <!-- Turmas serão inseridas dinamicamente aqui -->
        </section>
    </section>
  </main>

  <script src="js/header.js"></script>
  <script type="module" src="js/atividades.js"></script>
  <script type="module" src="../sign/logout.js"></script>
</body>
</html>
