<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Perfil do Professor - Minhas Atividades</title>
  <link rel="stylesheet" href="#">
</head>

<body>
    <header class="navbar">
        <div class="navbar-logo">
          <img src="../../assets/logo.png" alt="OnClass Logo">
          <span>Perfil do Professor</span>
        </div>

        <nav class="navbar-links">
          <a href="./turma.html" class="active">Turmas</a>
          <a href="./minhasAtividades.html">Minhas Atividades</a>
        </nav>

        <div class="navbar-user">
          <button class="btn-sair">Sair</button>
          <div class="user-info">
            <span>nome-do-professor</span>
            <img src="#" alt="Foto do usuário">
          </div>
        </div>
    </header>

  <main class="container">
    <section class="sem-atividades">
        <img src="#" alt="Sem atividades registradas">
        <h3>Ainda não há atividades registradas...</h3>
    </section>

    <section class="atividades">
        <div class="pesquisar">
            <input type="text" id="pesquisar-atividade" placeholder="Pesquisar Atividade">
            <button id="btn-pesquisar"><i>🔍</i></button>
        </div>
        
        <section class="atividades-container" id="atividades-container">
            <!-- Turmas serão inseridas dinamicamente aqui -->
        </section>
    </section>
  </main>

  <script src="js/buscarAtividade.js"></script>
</body>
</html>
