<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Perfil do Professor - Turmas</title>
  <link rel="stylesheet" href="../styles/turma.css">
</head>
  
<body>
  <div id="header"></div>

  <main class="container">
    <button class="btn-criar-turma">Criar Turma +</button>
    <section class="popup-criar-turma" id="popup-overlay">
      <div class="popup">
        <button class="btn-fechar" id="btn-fechar">X</button>
        <h3>Criar Sala</h3>
        <form id="form-criar-turma"> 
          <label for="nome-turma">Nome da Turma</label>
          <input type="text" id="nome-turma" name="nome-turma" required>
          <label for="nome-disciplina">Nome da Disciplina</label>
          <input type="text" id="nome-disciplina" name="nome-disciplina" required>

          <button type="submit" class="btn-criar">Criar</button>
        </form>
      </div>
    </section>

    <div class="sem-turma">
      <img src="../../assets/sem turmas.png" alt="Sem turmas">
      <h3>Ainda não há turmas...</h3>
    </div>

    <div class="pesquisar-turma">
      <input type="text" id="pesquisar-turma" placeholder="Pesquisar Turma">
      <button id="btn-pesquisar"><i>
        <img src="../../assets/pesquidsr.png" alt="pesquisar">
      </i></button>
    </div> 

    <section class="turmas">
      <section class="turmas-container" id="turmas-container">
        <!-- Turmas serão inseridas dinamicamente aqui -->
      </section>
    </section>
  </main>

  <script src="js/header.js"></script>
  <script type="module" src="./main.js"></script>
  <script type="module" src="../sign/logout.js"></script>
</body>
</html>
